{% render 'partials/head2.liquid' %}

<header class="header">
  <a class="back" href="/">← Terug</a>
  <h1>Collectie</h1>
</header>

<main class="container">
  <article class="card card-purple">
    <img
      src="https://images.unsplash.com/photo-1477511801984-4ad318ed9846"
      alt="Planten na de bloei in het bloemenveld"
    >

    <section class="card-content">
      <h2>Na de bloei</h2>
      <p>
        Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld en lees de bijbehorende informatie over de
        bloem of plant terug.
      </p>

      <a class="button" href="/nabloei">Bekijk alle kaarten</a>
    </section>
  </article>

  <article class="card card-green">
    <img src="https://images.unsplash.com/photo-1477511801984-4ad318ed9846  " alt="Gele bloemen in bloei">

    <section class="card-content">
      <h2>In de bloei</h2>
      <p>
        Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld en lees de bijbehorende informatie over de
        bloem of plant terug.
      </p>

      <a class="button" href="/inbloei">Bekijk alle kaarten</a>
    </section>
  </article>
</main>

{% render 'partials/nav.liquid' %}
{% render 'partials/foot.liquid' %}
