{% render 'partials/head.liquid' %}

<header class="topbar">
  <h1>Home</h1>
</header>

<main>
  
    <h2>Welkom Bronx</h2>
  

  <section class="collection">
    <h2 class="section-title">🌸 Bloemenveld collectie</h2>

    <div class="collection-card">
      {% comment %} Hier moet een if statement komen. Dus als de planten klaar zijn toon ze ander vul de fallback text hieronder in.  {% endcomment %}
      <p>
        Je hebt nog niks gespaard<br>
        Start de <strong>Veldverkenner</strong> om meer te weten te komen over wat er groeit en je collectie aan te
        vullen
      </p>
    </div>
  </section>

  <section class="news">
    {% comment %} Dit moet een for each loop worden {% endcomment %}

    <h2 class="section-title">📰 Veld Nieuws</h2>

    <ul class="news-scroll" role="list">
      {%   for news in news  limit: 3 %}
      <li href="/" class="news-card" role="listitem">
        <span class="tag">Bloemenveld</span>
        <h3> {{ news.title }}</h3>

        <img src="https://fdnd-agency.directus.app/assets/{{ news.image }}" alt="placeholder plant">

        <p> {{ news.body | truncate: 50 }}</p>
        </li>
      {% endfor %}
      
    </ul>
  </section>
</main>


{% render 'partials/nav.liquid' %}
{% render 'partials/foot.liquid' %}
